#body{
    background-color: rgba(26, 26, 26, 0.928);
}

#image {
    align-content: center;
    max-width: 350px;
    padding-top: 50px;
    margin-top: 70px;
}


.searchbar {
    align-content: center;
    margin-top: 20px;
    width: 500px;
    border-radius: 3px;
    border: 0px;
    height: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.reset {
    margin: 10px;
    width: 75px;
    font-family: sans-serif;
    border: 0px;
    height: 25px;

}

.reset:hover {
    border: 1px solid black;
    opacity: 0.5;
}

.submit {
    margin: 10px;
    width: 75px;
    font-family: sans-serif;
    border: 0px;
    height: 25px;
}

.submit:hover {
    border: 1px solid black;
    opacity: 0.5;
}

